<main class="relative z-0 min-h-screen transition-colors duration-500 bg-white text-black dark:bg-gray-900 dark:text-white">
<div class="absolute inset-0 z-0 h-full w-full bg-left-top bg-repeat [background-image:url('/bg.jpeg')] bg-[length:auto] opacity-30"></div>
<header class="pt-20 font-bold text-4xl sm:text-5xl md:text-7xl w-full text-neutral-700 dark:text-white z-10 relative">
  <div class="flex items-baseline justify-center">
    <h1 class="inline-flex">P
      <img class="w-7 h-auto object-contain md:w-10"
               src="https://styleshit-pokedex.netlify.app/static/media/pokeball.8b0d0c2b.svg" alt="" loading="lazy"/>
      <span class="inline-block border-b-8 border-red-500 pb-4">kéd</span>ex
    </h1>
  </div>
</header>
<section class="z-10 relative flex flex-col items-center">
  <div class="inline-block mx-auto text-center my-20">
    <h2 class="font-bold text-4xl text-indigo-400 dark:text-indigo-300 drop-shadow-[2px_2px_4px_rgba(0,0,0,0.5)] mb-10">Select Generation:</h2>
    <nav class="flex flex-wrap gap-15 bg-white dark:bg-gray-800 px-6 py-3 rounded shadow drop-shadow-[2px_2px_4px_rgba(0,0,0,0.5)]">
      <button class="gen-btn text-lg font-bold border-b-4 border-transparent text-black dark:text-white pb-1" (click)="loadGen(151, 0)">I</button>
      <button class="gen-btn text-lg font-bold border-b-4 border-transparent text-black dark:text-white pb-1" (click)="loadGen(100, 151)">II</button>
      <button class="gen-btn text-lg font-bold border-b-4 border-transparent text-black dark:text-white pb-1" (click)="loadGen(135, 251)">III</button>
      <button class="gen-btn text-lg font-bold border-b-4 border-transparent text-black dark:text-white pb-1" (click)="loadGen(107, 386)">IV</button>
      <button class="gen-btn text-lg font-bold border-b-4 border-transparent text-black dark:text-white pb-1" (click)="loadGen(156, 493)">V</button>
      <button class="gen-btn text-lg font-bold border-b-4 border-transparent text-black dark:text-white pb-1" (click)="loadGen(72, 649)">VI</button>
      <button class="gen-btn text-lg font-bold border-b-4 border-transparent text-black dark:text-white pb-1" (click)="loadGen(88, 721)">VII</button>
      <button class="gen-btn text-lg font-bold border-b-4 border-transparent text-black dark:text-white pb-1" (click)="loadGen(96, 809)">VIII</button>
      <button class="gen-btn text-lg font-bold border-b-4 border-transparent text-black dark:text-white pb-1" (click)="loadGen(120, 905)">IX</button>
    </nav>

  </div>
  <div id="pokemonCard" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 p-16 ">
    <a *ngFor="let pokemon of pokemonList()"
       [routerLink]="['/pokemon', pokemon.id]"
       class="h-[250px] sm:h-[300px] md:h-[400px] rounded-2xl shadow-lg pl-4 flex justify-between relative overflow-hidden transition-all duration-300 hover:scale-105 cursor-pointer"
       [style.background]="
      (pokemon.type && pokemon.type.length ?
        (pokemon.type[0].toLowerCase() === 'fire' ? 'linear-gradient(135deg, #FB6C6C, #FBA26C)' :
        pokemon.type[0].toLowerCase() === 'water' ? 'linear-gradient(135deg, #30A7D7, #62B9D7)' :
        pokemon.type[0].toLowerCase() === 'grass' ? 'linear-gradient(135deg, #48D0B0, #A8B820)' :
        pokemon.type[0].toLowerCase() === 'electric' ? 'linear-gradient(135deg, #FDE53A, #FACA00)' :
        pokemon.type[0].toLowerCase() === 'psychic' ? 'linear-gradient(135deg, #ba8cff, #f27fff)' :
        pokemon.type[0].toLowerCase() === 'ground' ? 'linear-gradient(135deg, #DEC96B, #967243)' :
        pokemon.type[0].toLowerCase() === 'rock' ? 'linear-gradient(135deg, #CCCC99, #8B7B53)' :
        pokemon.type[0].toLowerCase() === 'bug' ? 'linear-gradient(135deg, #ABE564, #82D12D)' :
        pokemon.type[0].toLowerCase() === 'ghost' ? 'linear-gradient(135deg, #8465A7, #4B325A)' :
        pokemon.type[0].toLowerCase() === 'fairy' ? 'linear-gradient(135deg, #F7B4F3, #F6A5C0)' :
        pokemon.type[0].toLowerCase() === 'dragon' ? 'linear-gradient(135deg, #0099fa, #5f38a7)' :
        pokemon.type[0].toLowerCase() === 'normal' ? 'linear-gradient(135deg, #f9a3c7, #f7b4f3)' :
         'linear-gradient(135deg, #bababa, #888)'
        )
      : 'linear-gradient(135deg, #bababa, #888)'
    )"
    >
      <div class="z-10 pt-4 sm:pt-8 md:pt-15 w-[40%]">
        <h2 class="text-white text-xl sm:text-3xl md:text-5xl font-extrabold mb-2 sm:mb-5 md:mb-10 capitalize">{{ pokemon.name }}</h2>
        <div *ngFor="let t of pokemon.type || []">
          <div class="mb-2" >
            <span class="inline-block bg-[rgba(255,255,255,0.3)] text-white text-sm sm:text-xl md:text-2xl font-normal px-2 sm:px-3 md:px-5 py-1 sm:py-2 rounded-full">
              {{ t }}
            </span>
          </div>
        </div>
      </div>
      <div class="z-10 w-[50%] flex justify-center items-center">
        <img [src]="pokemon.image" loading="lazy" alt="" class="w-full h-auto max-h-[150px] sm:max-h-[200px] md:max-h-[300px] object-contain" />
      </div>
      <p class="absolute top-1 sm:top-2 md:top-3 right-2 sm:right-3 md:right-5 text-white text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-normal opacity-20">
        #{{ pokemon.id | number:'3.0-0' }}
      </p>
      <img loading="lazy" class="z-0 absolute -bottom-5 sm:-bottom-10 md:-bottom-15 -right-5 opacity-30 sm:-right-10 md:-right-15 w-[100px] sm:w-[200px] md:w-[300px] h-auto"
           src="/pokeball.png" alt="">
      <button
        class="absolute bottom-4 left-4 z-80 focus:outline-none"
        (click)="toggleFavorite(pokemon);  $event.stopPropagation(); $event.preventDefault()"
        [attr.aria-label]="pokemon.isFavorite ? 'Unfavorite' : 'Favorite'">
        <svg *ngIf="!pokemon.isFavorite" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#888" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
        <svg *ngIf="pokemon.isFavorite" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F87171" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
      </button>
    </a>
  </div>
</section>
</main>
